
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
}

/* Body styling*/
body {
    padding: 0;
    margin: 0;
    background-image: url('../img/backgroundimage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: "Hobbit Font", sans-serif;
}

/*Container styling*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    height: 400px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*h1 styling*/
h1 {
    font-size: 80px;
    margin-bottom: 10px;
}

/* h2 styling*/
h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

#count {
    font-size: 100px;
}
#buttons-container {
    display: inline-block;
    margin: 0 60px;
}

input {
    padding: 20px 30px;
    font-size: 30px;
}
audio {
    position: absolute;
    bottom: -60%;
}
@font-face {
    font-family: "Hobbit Font";
    src: url(../font-family/ringbearer.medium.ttf) format("truetype");
}

.footer_text {
    font-size: 30px;
    color: #FFFF;
    position: absolute;
    bottom: 0;
    left: 20px;
}

@supports (-webkit-background-clip: text) {
    .textGradient {
        background-image: linear-gradient(60deg, #352400, #fd9b09);
        -webkit-background-clip: text;
        color: transparent;
        background-clip: clip;
    }
}